@import "tailwindcss";

@theme {
    --font-titan: 'Titan One', cursive;
    --font-tuffy: 'Tuffy', sans-serif;

    --text-40: 2.5rem;
    
    --color-bordeaux-c: #490600;
    --color-white-c: #fcd4b4;
    --color-yellow-c: #e99f22;
    --color-beige-c: #f8bd68;
    --color-marron-c: #793008;
    --color-mocha-c: #a07541;
    --color-orange-c: #d57c04;
    --color-paprika-c: #da4b05;
    --color-white-bk: #f6e3d4;
}